html{
    min-height: 100%;
}

body {
    background: url(img/background.png) no-repeat center center;
    background-size: cover;
    text-align: center;
}

.central-frame {
    height: 680px;
    width: 680px;
    position: relative;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    color: white;
}

label {
    display: block;
    color: white;
    line-height: 100%;
    font-weight: bold;
    font-size: x-large;

}
.characters {
    margin-bottom: 20px;
}
.title-weapon-frst {
    padding-top: 40px;
}

#character1 {
    background-image: url(img/Character_1.png);
    background-size: cover;
    position: relative;
    float: left;
    display: inline;
    width: 216px;
    height: 47px;
    line-height: 100%;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px 1px;
}

#character2 {
    background-image: url(img/Character_2.png);
    background-size: cover;
    position: relative;
    float: left;
    display: inline;
    width: 216px;
    height: 47px;
    line-height: 100%;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px 1px;
    margin: 0 16px;
}

#character3 {
    background-image: url(img/Character_3.png);
    background-size: cover;
    position: relative;
    float: left;
    display: inline;
    width: 216px;
    height: 47px;
    line-height: 100%;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px 1px;
}

.slot {
    display: block;
    margin: 20px 0 0 0;
    width: 200px;
    height: 96.979px;
}

.slot-img-left {
    position: relative;
    float: left;
    clear: left;
    display: inline;
    width: 96px;
    height: 96px;
    background-image: url(slot.jpg);
    box-shadow: 0 0 0 2px rgba(36, 36, 36, 0.21);
    margin: 2px 2px 8px 2px;}

.slot-img-right {
    position: relative;
    float: right;
    clear: right;
    display: inline;
    width: 96px;
    height: 96px;
    box-shadow: 0 0 0 2px rgba(36, 36, 36, 0.21);
    margin: 2px 2px 8px 2px;}

.gear {
    float: right;
    clear: right;
    display: inline;
    width: 200px;
}

.gear-frst {
    background-image: url(img/Gear_1.png);
}

.gear-scnd {
    background-image: url(img/Gear_2.png);
}

.gear-thre {
    background-image: url(img/Gear_3.png);
}

.gear-four {
    background-image: url(img/Gear_4.png);
}

.gear-five {
    background-image: url(img/Gear_5.png);
}

.weapon {
    float: left;
    clear: left;
    display: inline;
    width: 200px;
}

.weapon-frst {
    background-image: url(img/Weapon_1.png);
}

.weapon-scnd {
    background-image: url(img/Weapon_2.png);
}

.weapon-thre {
    background-image: url(img/Weapon_3.png);
}

.slot-frst {
    background-image: url(img/Ghost.png);
}

.slot-scnd {
    background-image: url(img/Fire.png);
}

.power {
    height: 30px;
    width: 30px;
}

.central-frame p.auth a  {
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffaf3b;
    color: #333;
    padding: 1rem 3rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: all 250ms;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 600px;
    display: block;
    text-decoration: none;

}
